html {
    background: linear-gradient(45deg, pink 40%, yellow);
    font-family: sans-serif;
 }
 
 img {
    padding-right: 20px;
    padding-bottom: 40px;
 } 
 
form {
    margin-left: 15px;


} 

input {
    margin-top: 5px;

} 

input[type="submit"] {
    padding-left: 5px;

} 